db_files
*.iml
.project
.classpath
.project.properties
**/gen
tests/stress/gen
WallpaperPicker/gen
WallpaperPicker/.project.properties
bin
.idea
.gradle
.kotlin
local.properties
build
.DS_Store
keystore.properties
*.jks
__pycache__
.vscode
.fleet
lawnWithQuickstep/release
/lawnWithQuickstepPlay/release/output-metadata.json
/lawnWithQuickstepPlay/release/WalkWinCash_1.3.0_play_release.apk
/lawnWithQuickstepPlay/release/baselineProfiles/0/WalkWinCash_1.3.0_play_release.dm
/lawnWithQuickstepPlay/release/baselineProfiles/1/WalkWinCash_1.3.0_play_release.dm
