<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <meta-data android:name="applovin.sdk.verbose_logging" android:value="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 锁屏显示权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--非中国区SDK必要权限-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <queries>
        <package android:name="com.instagram.android" />
    </queries>

    <meta-data
        android:name="TENJIN_APP_STORE"
        android:value="googleplay" />


    <application
        android:name=".WalkApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalkApp.Theme1"
        tools:targetApi="31">


        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2830772598550207~1093153378"/>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <!-- source file: nonchina_jcenter/network_sdk/inmobi/10.8.0/AndroidManifest.xml -->
        <!--android:networkSecurityConfig="@xml/network_security_config"-->

        <!-- source file: nonchina_jcenter/network_sdk/yandex/7.10.0/AndroidManifest.xml -->
        <!-- Disable automatic sdk initialization for yandex -->
        <meta-data
            android:name="com.yandex.mobile.ads.AUTOMATIC_SDK_INITIALIZATION"
            android:value="false" />
        <!-- source file: nonchina_jcenter/network_sdk/fyber/8.3.5/AndroidManifest.xml -->

        <!-- FileProvider配置 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 启动页Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.WalkApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityRecycler"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WalkApp.Theme1" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.WalkApp.Theme1" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.WalkApp.Theme1" />

        <activity
            android:name=".LeaderboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TrendsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WalkApp.Theme1" />

        <activity
            android:name=".CoinTaskActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WithdrawActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WithdrawAmountActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".WithdrawalRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WalkApp.Theme1" />

        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.WalkApp.Theme1" />

        <!-- 权限请求页面 -->
        <activity
            android:name=".PermissionRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.WalkApp.Theme1" />

        <!-- 锁屏界面 -->
        <activity
            android:name=".LockScreenActivity"
            android:configChanges="orientation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:taskAffinity="com.cashwalk.cashwalk.lockscreen.LockScreenActivity"
            android:theme="@style/LockScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".step.service.StepService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync|health" />


        <meta-data
            android:name="design_width_in_dp"
            android:value="411" />
    </application>

</manifest>
